@import url(//fonts.googleapis.com/css?family=Open+Sans);
:root {
    background-image: url("images/login_wallpaper_4.jpg");
    background-size: cover;
    --colorA: #70c1b3;
    --colorB: #3058c5;
    --colorC: #edf0f1;
    --colorD: #0088a9;
  } 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
/* html must be set to 100% so we can correctly center and arrange items */
html { height:100%; }

/* set body to absolute to avoid overflow */
body { position:absolute; top:0; bottom:0; right:0; left:0; }
  
.main {
  padding-top: 60px;
  height: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
  
}

/* main sign-in box */

.form_main {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  background-color:var(--colorA);
  width: 300px;
  height: 450px;
  border-radius: 2rem;
  font-family: 'Open Sans', sans-serif;
  color:var(--colorB);
}

.ctaBtn {
  font-family: inherit;
  font-weight: 800;
  font-size: 17px;
  color: var(--colorC);
  padding-top: 100px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.ctaBtn:hover{
  background-color: rgba(0, 136, 169,.6);
}

/* top nav */

.top {
  position: absolute;
  width: 100vw;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
   padding: 15px 10%; 
  background-color: #24252a;
}

.logo {
  margin-right: auto;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: var(--colorC);
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--colorD);
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  /* background-color: rgba(0, 136, 169, 0.8); */
  background-color: rgba(112, 193, 179);
}

.ctaInput {
  cursor: text;
  border: 0;
  border-radius: 1rem ;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1rem;
  color:black;
  text-align: center;
  font-weight: 540;
  font-family: inherit;

}
/* info msg */
.info_msg{
  position: absolute; 
  width: 100vw;  
  bottom: 15px;
  font-family: 'Open Sans', sans-serif;
}
.msg{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white 1px;
  color: var(--colorC);
  background-color: rgba(0, 136, 169, 1);  
}

/* close button */
.closebtn {
  color: white;
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 22px;
  cursor: pointer;
  transition: 0.3s; 
  border: solid white 1px;
  background-color:rgb(204, 19, 80);
}
.closebtn.float{
  position: absolute;
  border-radius: 2rem;
  top:14px;
  left: 104vmin;
  line-height: 30px;
  text-align: center;
  font-size: 35px;

}
.closebtn:hover {
  color: black;
} 

/* registry form */

.registry{
  display: none;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  background-color:var(--colorD);
  border-radius: 2rem;
  /* width: 700px; */
  left: 600px;
  bottom: 130px;
  padding: 10px;
  padding-right: 20px;
  
}


.registry.show{
  display: flex;
  animation: fadeIn ease 2s;
  /* These properties make it so that 
  the fade-in animation code works across 
  various browsers and rendering engines: */
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

.form_reg{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  font-family: inherit;
  height: 280px;
}
.grid{
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  
}

.row{
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    /* justify-content: space-between; */
}
hr{  
  border-top: 2px solid white;
  width: 100vmin;
}

.ctaBtn.green{
  background-color: var(--colorA);
}

.ctaBtn.green:hover {
  background-color: var(--colorB)
}
.title{
  color: var(--colorC);
  border-radius: 2rem;
  background-color: var(--colorA);
  width: 100vmin;
  text-align: center;
}