@import url(//fonts.googleapis.com/css?family=Open+Sans);
:root {
    background-image: url("images/Login_wallpaper_1.png");
    background-size: cover;
    background-repeat: repeat;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    --colorA: #70c1b3;
    --colorB: #3058c5;
    --colorC: #edf0f1;
    --colorD: #0088a9;
  } 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html must be set to 100% so we can correctly center and arrange items */
/* overflow-x hidden prevents the horizontal scrollbar from appearing */
html { height:100vh; width: 100vw; overflow-x: hidden;} 

/* set body to absolute to avoid overflow */
body { position:absolute; top:0; bottom:0; right:0; left:0; }

/* top nav */

.top {
    position: fixed;
    /* z-index allows us to put this div on top of the others */
    z-index:100;
    width: 100vw;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 2%;
    background-color: #24252a;
  }
  
  .logo {
    margin-right: auto;
  }
  .player{
    width: 50vw;
  }
  .vertical-line{
    display: inline-block; 
    border-left: 3px solid var(--colorC); 
    height: 60px;
    margin: 0 10px;
}
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: var(--colorC);
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: var(--colorD);
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    /* background-color: rgba(0, 136, 169, 0.8); */
    background-color: rgba(112, 193, 179);
  }
  
  .ctaInput {
    cursor: text;
    border: 0;
    border-radius: 1rem ;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1rem;
    color:black;
    text-align: center;
    font-weight: 540;
    font-family: inherit;
  
  }
  .btnOpt {
    padding: 35px;
    width: 80px;
    height: 80px;
    display:block;
    background-color: var(--colorShadeE);
    color: white;
    text-align:center;
    position: fixed;
    top: 100px;
    left: 10px;
    border-radius: 1rem;
    background: url(images/icon.png);
    background-size: cover;
    /* background-color: #111; */
    /* border: solid black; */
  }
  
/* The side navigation menu */
.sidenav {
  font-family: 'Open Sans', sans-serif;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 90px; /* Stay at the top */
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 1px 1px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  /* color: #818181; */
  color: var(--colorC);
  display: block;
  transition: 0.3s;
}
/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  /* color: #818181; */
  color: var(--colorC);
  display: flex;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



.icon {
  height: 30px;
  width: 30px;
}

.icon.home{
  background: url(images/icon-home.png);
  background-size: cover;
}
.icon.discover{
  background: url(images/icon-discover.png);
  background-size: cover;
}
.icon.heart{
  background: url(images/icon-heart.png);
  background-size: cover;
}

.icon.play{
  background: url(images/icon-play.png);
  background-size: cover;
}

.main{
  position: absolute;
  margin: 0;
  padding: 0%;
  left: 120px;
  top: 150px;
  padding: 25px;
  background-color: #24252a;
  background-image: url(images/main.jpg);
  background-repeat: repeat;
  /* height should be controlled by items inside */
  width: 1200px;
  /* height: 800px; */
  text-align: center;
    font-family:'Open Sans', sans-serif;
    color: #edf0f1;
}

.main_title{
  font-weight: 700;
  font-size: 30px;
  border-bottom: 3px solid var(--colorC); 
  padding: 25px;
  padding-bottom: 10px;
  text-align: left;
}

.main_content_box{
  display: grid;
    justify-content: space-around;
    /* create x number of columns and let items come */
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 25px;
  margin-top: 25px;
  
}

.main_content{
  /* styling for the content */
  font-family: inherit;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  height: 350px;
  width: 200px;
  border-radius: 1rem;
  background-color: #24252a;
  box-shadow: 0 0 21px 0px rgba(0,0,0,0.5);
}
p{
  padding-bottom: 10px;
}
.img{
  height: 170px;
  width: 170px;
  background-size: cover;
  /* border-bottom: 1px solid var(--colorC);  */
  
}
hr{
  width: 170px;
  color:var(--colorC);
}
.full{
  width: 100%;
}
.content_time{
  align-self: flex-end;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
}
.content_buttons{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
  width: 80%;
}

.play_button{
  height: 35px;
  width: 35px;
  padding: 10px;
  background: url(images/icon-play2.png);  
  border-radius: 2rem;
  background-position-x: 2px;
  background-position-y: 1px;
  background-size: 29px; 
  
  background-repeat: no-repeat;

  /* border: solid 1px white;  */
}

.play_button.clicked{
  background: url(images/play-green.png);
  background-position-x: 2px;
  background-position-y: 1px;
  background-size: 29px; 
  background-repeat: no-repeat;
}

.fav_button{
  height: 35px;
  width: 35px;
  padding: 10px;
  background: url(images/icon-heart.png);
  background-size: cover;
  border-radius: 2rem;
  background-position-x: 2.247pt;
  background-position-y: 3.1px;
  background-size: 25px; 
  
  background-repeat: no-repeat;
  /* border: solid 1px white;  */
}

.fav_button.clicked{
  background: url(images/heart-red.png);
  background-size: 25px;
  background-position-x: 2.247pt;
  background-position-y: 3.1px;
  background-repeat: no-repeat;
}

.content_artist{
  align-self: flex-end;
  text-align: right;
  padding-right: 10px;
  padding-top: 25px;
  font-size: 15px;
  font-weight: bold;
}

.content_info{
  align-self: flex-end;
  text-align: right;
  padding-right: 10px;
  /* padding-top: 29px; */
  font-size: 13px;
}

