@import url(//fonts.googleapis.com/css?family=Open+Sans);

/* for preload play/pause svg */
body:after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/play.svg)
		url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/pause.svg);
}

article{
	position: inherit;
	display: flex;
	width: 50%;
	height: 60px;
	margin: auto;
	text-align: center;
	/* padding: 50px 5%; */
	/* padding: 0px; */
	/* box-sizing: border-box; */
	box-shadow: 0 0 21px 0px rgba(0,0,0,0.5);
	border-radius: 10px;
}

.bottom{
	position: fixed;
	display: flex;
	width: 80vw;
	align-self: center;
	left: 180px;
	bottom: 0;
	height: 30px;
}
.bottom_info{
	display: flex;
		flex-direction: column;
		align-content: flex-end;
		justify-content: flex-end;
	position: fixed;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #292929;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	bottom: 30px;	
	right: 76px;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0 0 21px 0px rgba(0,0,0,0.5);
}
.bottom_title{
	color:#edf0f1;
	align-self: flex-end;
	font-size: 22px;
}
.bottom_msg{
	font-size: 18px;
	color: #999;
	align-self: flex-end;
}

.cont{
	margin-bottom: 28px;
}

.cont h6{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	/* margin: 0 0 10px 0; */
	/* color: #ccc; */
	color: rgb(25, 219, 145);
}

.cont time{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #999;
	
}

/*
*style audio tag
*/

.mejs-container {
	background: #000;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	vertical-align: top;
	text-indent: 0;
	width: 100% !important;
	height: 100% !important;
	border-radius: 5px;
}

.mejs-container .mejs-controls {
	height: 100%;
	background: transparent;
	display: flex;
}

.mejs-controls .mejs-time-rail span,
.mejs-controls .mejs-time-rail a {
	display: block;
	width: 180px;
	height: 100%;
	border-radius: 0px;
	cursor: pointer;
}

.mejs-controls div.mejs-time-rail {
	padding-top: initial;
	height: 100%;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
	margin: 0
}

.mejs-container .mejs-controls .mejs-time {
	color: #fff;
	display: block;
	height: 27px;
	width: auto;
	padding: 0;
	line-height: 25px;
	overflow: hidden;
	text-align: center;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.mejs-container .mejs-controls .mejs-time {
	position: absolute;
	color: rgba(256, 256, 256, 0.4);
	right: 10px;
	bottom: 0;
	top: 0;
	margin: auto;
	/* font-family: 'Lato'; */
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	pointer-events: none;
}

.mejs-controls .mejs-time-rail .mejs-time-float-corner {
	display: none;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
	position: absolute;
	background: #000;
	width: 46px;
	height: 20px;
	border: none;
	top: -25px;
	margin-left: -18px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
	margin: 0;
	margin-top: 4px;
	width: 100%;
	display: block;
	text-align: center;
	left: 0;
}

.mejs-container .mejs-controls div {
	height: 100%;
	width: 50px;
	position: relative;
}

.mejs-controls .mejs-button button {
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
	width: 100%;
	border: 0 !important;
	background: transparent;
	outline: none;
}

.mejs-controls .mejs-play:after {
	position: absolute;
	content: "";
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/play.svg) no-repeat;
	width: 17px;
	height: 22px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	transition: all 100ms linear;
	pointer-events: none;
}

.mejs-controls .mejs-pause:after {
	position: absolute;
	content: "";
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/pause.svg) no-repeat;
	width: 13px;
	height: 22px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	transition: all 100ms linear;
	pointer-events: none;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
	background: #292929;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #3c3838;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
	background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-size: 50px 50px;
	animation: move 3s linear infinite;
	opacity: 0.1;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
	background: linear-gradient(to right, #03A9F4, #ff00ff);
}

.mejs-controls .mejs-button button:focus {
	outline: none;
}

@-webkit-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}